.burger {
  z-index: 2;
    width: 30px;
    height: 20px;
    position: relative;
    display: none;
  }
.burger:before, .burger:after {
  
    content: '';
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }
  .burger span {
    position: absolute;
    background-color: red;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .burger-cross {
    z-index: 2;
    width: 30px;
    height: 20px;
    position: relative;
    display: none;
    margin: 0 auto;
  }
.burger-cross:before, .burger-cross:after {
    content: '';
    background-color: red;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .burger-cross:before {
    top: 0;
  }
  .burger-cross:after {
    bottom: 0;
  }
  .burger-cross span {
    position: absolute;
    background-color: red;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    opacity: 0;
    
  }
  .burger-cross:before {
    top: 9px;
    transform: rotate(45deg);;
  }
  .burger-cross:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger-navigation{
    width: 100%;
    display: absolute;
    text-align: center;
    background-color: black;
    z-index: 1;
    text-transform: uppercase;
    margin-top: 190px;
    position: absolute;
    
  }
 .burger-navigation.entering{
   
animation: show-navigation 0.5s ease;
  }
  .burger-navigation.entered{
    
  }
  .burger-navigation.exiting{

    animation: show-navigation 0.5s ease reverse;
    
  }
  .burger-navigation.exited{ 
  }
  .burger-navigation__item{
     margin-bottom: 10px;
     color: white;
  }
  
@keyframes show-navigation {

  0%{
   transform:translateY(-150px);
  }
  100%{
    transform:translateY(0px);
  }
}

  @media(max-width:777px){
    .burger{
        
        display: block;
    
    }

    .burger-cross{
      display: block;
  
  }


    
}

